---
// index.astro
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import Main from "@/components/Main.astro";
import Player from "@/components/Player.astro";

const title = "SpotifyClon";
---

<Layout title={title}>
  <div id="body-app">

    <header class="[grid-area:header]">
      <Header />
    </header>


    <aside class="[grid-area:sidebar] bg-[#121212] rounded-xl">
      <Sidebar />
    </aside>


    <main class="[grid-area:main] bg-[#121212] rounded-xl">
      <Main />
    </main>

    
    <footer class="[grid-area:player] bg-[#121212] rounded-xl">
      <Player />
    </footer>
  </div>
</Layout>

<style is:global>
  #body-app {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "player player player";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    height: 100vh;
    padding: 1rem;
  }
</style>