---
/* El bloque de aqui que esta encerrado con tres guiones es el espacio en donde pueddes escribir javascript o typescript*/
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/organisms/Header.astro";
import Aside from "@/components/organisms/Sidebar.astro";
import Main from "@/components/organisms/Main.astro";
import Player from "@/components/organisms/Player.astro";

const title = "SpotifyClon";
---

<!--- Aqui esta lo quw renderiza la pagina web, HTML mas o menos porque es muy parecido -->
  <Layout title={title}>

    

    <div class="container_app">

        <div class="app__header">
          <header>
            <Header />
          </header>
        </div>


      <div class="body-app">
        <div class="app__sidebar">
          <aside>
            <Aside />
          </aside>
        </div>

        <div class="app_main">
          <main>
            <Main />
          </main>
        </div>

        <div class="app__player">
          <footer>
            <Player />
          </footer>
        </div>
      </div>

    </div>

  <style>


  </style>
  </Layout>