---
// Esto es Typscript
interface Props {
	title: string;
}
// Tanto en javascrpt como en Typscript tenemos que recuperar una constante, en donde sacamos su "title" de Astro.props (astro es una varable global que funciona en todo los archivos.astro y que tiene diferente informacion como props, cookies, etc)
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- "is:global" es una directiva que indica que estos estilos son globales, los que se ven en toda la pagina, no por compoenentes. --> 
<style is:global> 
	:root {
		
	}
	html {
		font-size: 62.5%; /* 62.5% de 16px = 10px (1rem) */ 
		box-sizing: border-box;
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

</style>
<!--Estilos globales -->